@import url("https://use.typekit.net/wlu0pug.css");
*{ 
    box-sizing: border-box; scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    user-select: none;
}
body{
    overflow: hidden;
}
.objeto-absoluto{
    position: absolute;
}
.objeto-fixeado{
    position: fixed;
}
.objeto-relativo{
    position: relative;
}
.interactivo{
    cursor: pointer;
}
.transition{
    transition: 2s linear;
}

.pestaña{
    width: 100vw;
    height: 50vh;
    background-color: #111111;
}
#pestaña-inferior{
    top: 50vh;
}
@keyframes pestaña-top {
    0% {top:0}
    20% {top:-10vh}
    70% {top:0}
    80% {top:-30vh}
    90% {top: -20vh}
    100% {top:-60vh}
}
@keyframes pestaña-bot {
    0% {top:50vh}
    20% {top: 60vh}
    70% {top:50vh}
    80% {top:80vh}
    90% {top: 70vh}
    100% {top:110vh}
}
#intro-container{
    text-align: center;
    color: white;
    font-family: "lores-12", sans-serif;
}
#intro-container h1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 3s ease-in-out;
    cursor: pointer;
}

#intro-tip{
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 3s ease-in;
    cursor: pointer;
}
#intro-p-text{
    background-color: #111111;
    padding: 1vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 1;
    opacity: 0;
    transition: opacity 500ms ease-in;
}


#tele{
    background-image: url(img/tv.gif);
    background-repeat: no-repeat;
    background-size: 22.5vw;
    left: 33.3vw;
    top: 17vw;
    width: 22vw;
    height: 15vw;
}

#boton-tv{
    width: 10px;
    height: 10px;
    top: 30.5vw;
    left: 41.5vw;
    background-color: #111111;
    cursor: pointer;
}
#boton-tv:hover{
    animation: pulsar-s 1s ease-in-out infinite;
}

#container-living{
    display: block;
}

#fondo{
    width: 164%;
    height: 60vw;
}
#puerta{
    background-image: url(img/puerta.png);
    background-repeat: no-repeat;
    background-size: 11.7vw;
    left: 77.25vw;
    top: 0vw;
    width: 12vw;
    height: 27vw;
}

#puerta:hover{
    background-image: url(img/puerta-abierta.png);
}

#puff{
    left: 71vw;
    top: 22.5vw;
    width: 19.2vw;
}

#sillon{
    left: 46vw;
    top: 32.3vw;
    width: 46vw;
}

#mesa-ratona{
    left: 37.5vw;
    top: 32.5vw;
    width: 34.5vw;
}
#mesa-sin-tele{
    left: 23.1vw;
    top: 25vw;
    width: 41vw;
}
#lampara{
    background-image: url(img/lampara.png);
    background-repeat: no-repeat;
    background-size: 11vw;
    left: 64vw;
    top: 5.1vw;
    width: 11vw;
    height: 27vw;
}

#consola{
    background-image: url(img/consola.png);
    background-repeat: no-repeat;
    background-size: 19vw;
    left: 45.1vw;
    top: 33.6vw;
    width: 19vw;
    height: 9vw;
}

#pong-bg{
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
}

#pong{
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
    position: fixed;
    width: fit-content;
    opacity: 0;
    transition: opacity 1s linear;
}

canvas{
    z-index: 1;
}

#salir-pong{
    background-image: url(img/x.png);
    background-repeat: no-repeat;
    background-size: 20px;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
}

#mapa{
    background-image: url(img/mapa.png);
    background-repeat: no-repeat;
    background-size: 3vw;
    left: 46vw;
    top: 36vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}
#mapa:hover{
    animation: pulsar-m 1s ease-in-out infinite
}

#mapa-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    background-color: black;
}

#mapa-container{
    opacity: 0;
    display: none;
    width: 60vw;
    height: 60vh;
    transition: opacity 1s linear;
}


.centradoXY{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mapa-expandido{
    width: 30vw;
    height: auto;
}

#salir-mapa{
    background-image: url(img/x.png);
    background-repeat: no-repeat;
    background-size: 20px;
    right: 35vw;
    top: 6.5vw;
    width: 20px;
    height: 20px;
    z-index: 1;
}

#heladera{
    background-image: url(img/heladera.png);
    background-repeat: no-repeat;
    background-size: 19vw;
    left: 125vw;
    top: 1vw;
    width: 19vw;
    height: 28vw;
}

#nota-h{
    left: 130vw;
    top: 7vw;
    display: none;
    cursor: pointer;
}
#nota-h:hover{
    animation: pulsar-m 1s ease-in-out infinite
}
#nota-expandida{
    left: 120vw;
    width: 30vw;
    height: auto;
}
#nota-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.6;
    background-color: black;
}

#nota-container{
    opacity: 0;
    display: none;
    width: 60vw;
    height: 60vh;
    transition: opacity 1s linear;
}
#salir-nota{
    background-image: url(img/x.png);
    background-repeat: no-repeat;
    background-size: 20px;
    right: 22vw;
    top: 6.5vw;
    width: 20px;
    height: 20px;
    z-index: 1;
}

#flecha{
    left: 145vw;
    top: 7vw;
    rotate: 290deg;
    scale: 65%;
    display: none;
}

@keyframes flecha {
    from{left: 200vw;}
    to{left: 145vw;}
}

#mueble-cocina{
    left: 139vw;
    top: 16vw;
    width: 20vw;
}
#scrollers{
    display: none;
    opacity: 0;
}
.scroll{
    background-image: url(img/scroll.png);
    background-repeat: no-repeat;
    background-size: 5vw;
    width: 5vw;
    height: 4vw;
    top: 50vh;
    z-index: 1;
}

#scroll-der{
    right: 1vw;
}

#scroll-izq{
    rotate: 180deg;
    left: 1vw;
}

#transicion-afuera{
    position: fixed;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    transition: opacity 1s linear;
    z-index: 1;
}

#afuera{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
}

#puerta-a{
    left: 88vw;
    top: 30vw;
    cursor: pointer;
}

#futbol{
    top: 25vw;
    left: 33vw;
    cursor: pointer;
}

#martin{
    top: 35vw;
    left: 58vw;
    cursor: pointer;
}

#afuera-p-text{
    font-family: "lores-12", sans-serif;
    background-color: #111111;
    padding: 1vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    color: white;
    z-index: 2;
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.centradoX{
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}
  
.tooltip .tooltiptext {
    font-family: "lores-12", sans-serif;
    visibility: hidden;
    width: 20vw;
    top: 3vw;
    left: -20vw;
    background-color: #111111;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

  @media only screen and  (max-width: 1050px) {
    body{
        overflow-x: scroll;

    }
    #intro-container p{
        top: 65%;
    }
    #fondo{
        height: 100%;
        width: auto;
    }

    #tele{
        background-size: 40vh;
        left: 59vh;
        top: 28vh;
        width: 40vh;
        height: 27vh;
    }
    
    #boton-tv{
        width: 1.5vh;
        height: 1.5vh;
        top: 52vh;
        left: 73.7vh;
    }
    #puerta{
        background-size: 21vh;
        left: 135vh;
        top: -5vh;
        width: 21vh;
        height: 50vh;
    }
    
    #puff{
        left: 125.5vh;
        top: 40vh;
        width: 35vh;
    }
    
    #sillon{
        left: 75vh;
        top: 58vh;
        width: 88vh;
    }
    #mesa-ratona{
        left: 66.5vh;
        top: 57vh;
        width: 61vh;
    }
    #mesa-sin-tele{
        left: 41vh;
        top: 42.5vh;
        width: 73vh;
    }
    #lampara{
        background-size: 22vh;
        left: 111vh;
        top: 1.5vh;
        width: 22vh;
        height: 60vh;
    }
    
    #consola{
        background-size: 36vh;
        left: 80vh;
        top: 60vh;
        width: 36vh;
        height: 15vh;
    }

    #mapa{
        background-size: 6vh;
        left: 80vh;
        top: 63vh;
        width: 6vh;
        height: 6vh;
    }

    #heladera{
        background-size: 35vh;
        left: 210vh;
        top: 1vh;
        width: 35vh;
        height: 52vh;
    }
    
    #nota-h{
        left: 220vh;
        top: 15vh;
        width: 5vh;
    }
    #nota-expandida{
        left: 230vh;
    }

    #flecha{
        left: 245vh;
        top: 10vh;
        rotate: 290deg;
        scale: 65%;
        display: none;
    }
    #mueble-cocina{
        left: 238.5vh;
        top: 30vh;
        width: 35vh;
    }

    #futbol{
        left: 36vh;
        top: 50vh;
    }

    #martin{
        left: 100vh;
        top: 75vh;
    }

    #puerta-a{
        left: 148vh;
        top: 60vh;
    }

    #scrollers{
        display: none;
    }
    .tooltip .tooltiptext {
        top: 7vh;
        left: -20vh;
    }
  }

@keyframes pulsar-m {
    0%{scale: 100%;}
    50%{scale:110%}
    100%{scale: 100%;}
    
}
@keyframes pulsar-s {
    0%{scale: 100%;}
    50%{scale:150%}
    100%{scale: 100%;}
    
}
@keyframes flecha-h {
    from{left: 300vh;}
    to{left: 245vh;}
}
